/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    macros {
        hankakuzenkaku: hankakuzenkaku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "HANKAKUZENKAKU"; 
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {  
            bindings = <
&kp ESC    &kp Q     &kp W             &kp E  &kp R      &kp T            &kp Y     &kp U      &kp I      &kp O       &kp P      &kp MINUS
&kp TAB    &kp A     &kp S             &kp D  &kp F      &kp G            &kp H     &kp J      &kp K      &kp L       &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp X             &kp C  &kp V      &kp B            &kp N     &kp M      &kp COMMA  &kp PERIOD  &kp SLASH  &kp BSLH
           &kp LALT  &kp LEFT_CONTROL  &mo 3  &kp SPACE  &hankakuzenkaku  &kp BSPC  &kp ENTER                         &kp LWIN
            >;
        };

        lower_layer {
            bindings = <
&kp ESC    &kp Q     &kp W      &kp E              &kp R      &kp T      &kp Y     &kp U      &kp I      &kp O       &kp P      &kp MINUS
&kp TAB    &kp A     &kp S      &kp D              &kp F      &kp G      &kp H     &kp J      &kp K      &kp L       &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp X      &kp C              &kp V      &kp B      &kp N     &kp M      &kp COMMA  &kp PERIOD  &kp SLASH  &kp BSLH
           &kp LALT  &kp LCTRL  &ext_power EP_TOG  &kp SPACE  &kp LANG5  &kp BSPC  &kp ENTER                         &kp LWIN
            >;
        };

        raise_layer {
            bindings = <
&kp ESC    &kp Q     &kp W      &kp E              &kp R      &kp T      &kp Y     &kp U      &kp I      &kp O       &kp P      &kp MINUS
&kp TAB    &kp A     &kp S      &kp D              &kp F      &kp G      &kp H     &kp J      &kp K      &kp L       &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp X      &kp C              &kp V      &kp B      &kp N     &kp M      &kp COMMA  &kp PERIOD  &kp SLASH  &kp BSLH
           &kp LALT  &kp LCTRL  &ext_power EP_TOG  &kp SPACE  &kp LANG5  &kp BSPC  &kp ENTER                         &kp LWIN
            >;
        };

        adjust_layer {
bindings = <
&trans     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3       &bt BT_SEL 4     &kp Y                           &kp U            &kp I      &kp O       &kp P        &kp MINUS
&kp TAB    &kp A         &kp S         &kp D         &kp F              &none            &rgb_ug RGB_COLOR_HSB(0,0,100)  &kp J            &kp K      &kp L       &kp SEMI     &kp SQT
&kp LSHFT  &kp Z         &kp X         &kp C         &kp V              &out OUT_TOG     &rgb_ug RGB_TOG                 &kp M            &kp COMMA  &kp PERIOD  &kp SLASH    &kp BSLH
           &sys_reset    &bt BT_CLR    &none         &ext_power EP_TOG  &hankakuzenkaku  &rgb_ug RGB_EFR                 &rgb_ug RGB_EFF                         &bootloader
            >;
        };
    };

};
