/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    macros {
        jp_lang: jp_lang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "JP_LANG";
        };
    };

    behaviors {
        hold_mo_layer: hold_mo_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MO_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <42>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q     &kp W             &kp E  &kp R      &kp T     &kp Y     &kp U                   &kp I      &kp O       &kp P      &kp MINUS
&kp TAB    &kp A     &kp S             &kp D  &kp F      &kp G     &kp H     &kp J                   &kp K      &kp L       &kp SEMI   &kp SQT
&kp LEFT_CONTROL  &kp Z     &kp X             &kp C  &kp V      &kp B     &kp N     &kp M                   &kp COMMA  &kp PERIOD  &kp SLASH  &kp BSLH
           &kp LALT  &kp LSHFT  &mo 2  &kp SPACE  &jp_lang  &kp BSPC  &hold_mo_layer 1 ENTER                         &kp LWIN
            >;
        };

        lower_layer {
            bindings = <
&none  &none  &kp N1        &kp N2  &kp N3        &none  &none     &none           &mmv MOVE_UP    &none            &none  &none
&none  &none  &kp N4        &kp N5  &kp N6        &none  &none     &mmv MOVE_LEFT  &none           &mmv MOVE_RIGHT  &none  &none
&none  &none  &kp NUMBER_7  &kp N8  &kp N9        &none  &none     &none           &mmv MOVE_DOWN  &none            &none  &none
       &none  &none         &none   &kp NUMBER_0  &none  &kp BSPC  &kp ENTER                                        &none
            >;
        };

        adjust_layer {
            bindings = <
&trans     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3       &bt BT_SEL 4     &none            &none            &none             &none     &none        &none
 &none            &none            &none             &none     &none        &none    &mkp MB4         &mkp MB1         &mwh SCROLL_UP    &mkp MB2  &none        &none
 &none            &none            &none             &none     &none         &out OUT_TOG     &mkp MB5         &none            &mwh SCROLL_DOWN  &none     &none        &none
           &sys_reset    &bt BT_CLR    &none         &ext_power EP_TOG  &rgb_ug RGB_TOG  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF                              &bootloader
            >;
        };
    };
};
